<%- include('../includes/e-commerce/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/e-commerce/navigation.ejs') %>
  <div class="jumbotron">
    <h1 class="display-1">Vendika</h1>
    <p class="lead">The best e-commerce web app for you. What are you waiting? Let's add some things to the cart!</p>
    <p>We have the most common products, as well as the top-notch technology for you and your family. Welcome to Vendika!</p>
    <a class="btn btn-primary btn-lg" href="/e-commerce/products" role="button">View all products</a>
  </div>
  <hr class="my-4">

  <main>
    <% if (prods.length > 0) { %>
      <div class="grid">
        <% for (let product of prods) { %>
          <article class="card product-item " style="width: 18rem;"> 
            <img src="<%= product.imageUrl %>"
              alt="<%= product.title %>"
              class="card-img-top">
            <div class="card-body">
              <h2 class="card-title"><%= product.title %></h2>
              <h3 class="product__price">$<%= product.price %></h3>
              <p class="card-text"><%= product.description %></p>
            </div>
            <div class="card__actions">
              <%- include('../includes/e-commerce/add-to-cart.ejs', {product: product}) %>
            </div>
          </article>
        <% } %>
      </div>
    <% } else { %>
      <h1>No Products Found!</h1>
    <% } %>

  </main>
<%- include('../includes/e-commerce/end.ejs') %>

